<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restore Access</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngIf="!codeSent" class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Reset your password</p>
          <p>You will receive a verification code to reset your password</p>
        </div>
        <form [formGroup]="restoreAccessForm" (ngSubmit)="submit()" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Phone
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="phone" formControlName="phone"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && restoreAccessFormErrorControl.email.errors?.required">
              <sub>Phone is required</sub>
            </ion-text>
          </ion-list>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Submit</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="codeSent" class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Reset your password</p>
          <p>You will receive a verification code to reset your password</p>
        </div>
        <form [formGroup]="verifyForm" (ngSubmit)="verify()" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Phone
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="phone" formControlName="phone"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && verifyFormErrorControl.email.errors?.required">
              <sub>Phone is required</sub>
            </ion-text>
            <ion-item>
              <ion-label position="floating">Code
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="number" formControlName="code"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && verifyFormErrorControl.code.errors?.required">
              <sub>Code is required</sub>
            </ion-text>
            <ion-item>
            <ion-label position="floating">Password
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && verifyFormErrorControl.password.errors?.required">
              <sub>Password is required</sub>
            </ion-text>
          </ion-list>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Submit</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="this.validationError">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <ion-chip>
            <ion-label color="danger">{{validationError}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Lost your code?</p>
          <ion-button size="small" fill="outline" (click)="resendCode()">Resend</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Have an account?</p>
          <ion-button expand="block" color="success" [routerLink]="['/auth']">Sign in</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
