<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
            <ion-button (click)="save()" color="primary">Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="itemForm" novalidate>
        <ion-list lines="true">
            <ion-item>
                <ion-label position="floating">Title
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input (keyup.enter)="save()" formControlName="title" #title></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && formErrorControl.title.errors?.required">
                <sub>Title is required</sub>
            </ion-text>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input (keyup.enter)="save()" formControlName="description"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar *ngIf="editItem">
        <ion-title color="medium" class="timestamp">Created {{momentjs(item.createdAt).fromNow()}}</ion-title>
    </ion-toolbar>
</ion-footer>

