<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="user">User</ion-title>
        <!--    <ion-buttons slot="end">-->
        <!--      <ion-button (click)="login()">Login</ion-button>-->
        <!--      <ion-button (click)="logout()">Logout</ion-button>-->
        <!--    </ion-buttons>-->
        <amplify-authenticator framework="ionic"></amplify-authenticator>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="itemList">
        <ion-card *ngFor="let item of itemList.items; index as i">
            <ion-item>
                <ion-label class="hover card-title" (click)="modify(item, i)">{{item.title}}</ion-label>
                <ion-button fill="outline" slot="end" (click)="delete(i)">
                    <ion-icon name="trash" size="small"></ion-icon>
                </ion-button>
                <ion-button fill="outline" slot="end" (click)="complete(i)">
                    <ion-icon name="checkmark-circle" size="small"
                              [ngClass]="{'complete': item.status=='complete'}"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-card-content class="hover card-title" (click)="modify(item, i)">
                {{item.description}}
            </ion-card-content>
        </ion-card>
    </div>
    <!-- Skeleton screen -->
    <div *ngIf="!itemList">
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-button expand="block" (click)="modify(null, null)">
        <ion-icon slot="start" name="add"></ion-icon>
        Add a task
    </ion-button>
</ion-content>
