<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-button [routerLink]="['/archive']">
                <ion-icon *ngIf="isArchiveEmpty(); else notEmptyArchive" name="file-tray-outline" slot="start"></ion-icon>
                <ng-template #notEmptyArchive><ion-icon name="file-tray-full-outline" slot="start"></ion-icon></ng-template>
                Archive
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="solid" (click)="modify(null)">
                <ion-icon name="add-circle-outline"></ion-icon>
                &nbsp;Add task
            </ion-button>
        </ion-buttons>
        <ion-progress-bar value="{{completedPercentage()}}" color="medium"></ion-progress-bar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="todos">
        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
            <div *ngFor="let item of todos; index as i">
                <ion-card *ngIf="item.status!=='archived'" id="{{item.id}}"
                          [ngClass]="{'done': item.status==='complete'}">
                    <ion-item [lines]="item.description ? 'inset': 'none'">
                        <ion-icon *ngIf="item.status==='new'" name="checkmark-circle-outline" slot="start"
                                  (click)="toggleComplete(item.id)">
                        </ion-icon>
                        <ion-icon *ngIf="item.status==='complete'" name="checkmark-circle" slot="start" class="complete"
                                  (click)="toggleComplete(item.id)">
                        </ion-icon>
                        <ion-label class="hover card-title"
                                   (click)="modify(item)">{{item.title}}</ion-label>
                        <ion-reorder slot="end"></ion-reorder>
                        <ion-button fill="clear" slot="end" (click)="delete(item.id)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-card-content *ngIf="item.description"
                                      (click)="modify(item)"
                                      class="hover card-title">
                        {{item.description}}
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-reorder-group>
    </div>
    <!-- Skeleton screen -->
    <div *ngIf="!todos">
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label class="hover card-title">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-card-content class="hover card-title">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-title *ngIf="notDoneItemsCount() > 0; else notEmptyTodoList" color="medium" size="small">{{maybePluralize(notDoneItemsCount(), 'reason')}} to keep going</ion-title>
        <ng-template #notEmptyTodoList>
            <ion-title color="medium" size="small">Everything's done. Yippee!</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-footer>
