<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-button [routerLink]="['/archive']">
                <ion-icon *ngIf="isArchiveEmpty(); else notEmptyArchive" name="file-tray-outline"
                          slot="start"></ion-icon>
                <ng-template #notEmptyArchive>
                    <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
                </ng-template>
                Archive
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="solid" (click)="modify(null)">
                <ion-icon name="add-circle-outline"></ion-icon>
                &nbsp;Add task
            </ion-button>
        </ion-buttons>
        <ion-progress-bar value="{{completedPercentage()}}"></ion-progress-bar>
    </ion-toolbar>
</ion-header>
<ion-content padding="true">
    <div *ngIf="todos">
        <ion-list>
            <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="{{!reorderEnabled}}">
                <ion-item-sliding *ngFor="let item of todos; index as i">
                    <ion-item *ngIf="item.status!=='archived'" id="{{item.id}}"
                              [ngClass]="{'done': item.status==='complete'}"
                              lines="full">
                        <ion-icon *ngIf="item.status==='new'" name="checkmark-circle-outline" slot="start"
                                  (click)="toggleComplete(item.id)">
                        </ion-icon>
                        <ion-icon *ngIf="item.status==='complete'" name="checkmark-circle" slot="start" class="complete"
                                  (click)="toggleComplete(item.id)">
                        </ion-icon>
                        <ion-label href="#" (click)="modify(item)" class="ion-text-wrap"><h2>{{item.title}}</h2>
                            <p>{{item.description}}</p>
                        </ion-label>
                        <ion-reorder slot="end"></ion-reorder>
                        <ion-button fill="clear" slot="end" (click)="delete(item.id)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item-options side="start" (ionSwipe)="toggleComplete(item.id)">
                        <ion-item-option color="success" expandable="true" (click)="toggleComplete(item.id)">
                            <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="end" (ionSwipe)="delete(item.id)">
                        <ion-item-option color="danger" expandable="true" (click)="delete(item.id)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-reorder-group>
        </ion-list>
    </div>
    <!-- Skeleton screen -->
    <div *ngIf="!todos">
        <ion-list>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-title *ngIf="notDoneItemsCount() > 0 && todos; else notEmptyTodoList" color="medium"
                   size="small">{{maybePluralize(notDoneItemsCount(), 'reason')}} to keep going
        </ion-title>
        <ng-template #notEmptyTodoList>
            <ion-title color="medium" size="small">Everything's done. Yippee!</ion-title>
        </ng-template>
        <ion-buttons slot="end">
            <ion-title size="small">Reorder</ion-title>
            <ion-toggle [(ngModel)]="reorderEnabled"></ion-toggle>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="platform.is('android') && adIsLoaded" class="ion-no-border">
    <ion-toolbar style="admobplaceholder">
        <!--AdMob Banner Placeholder-->
    </ion-toolbar>
</ion-footer>
