<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
        <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!codeSent" class="ion-justify-content-center">
      <ion-col size-md="4">
        <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
             <ion-item>
              <ion-label position="floating">Email
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && registerFormErrorControl.email.errors?.required">
              <sub>Email is required</sub>
            </ion-text>
            <ion-item>
              <ion-label position="floating">Password
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isSubmitted && registerFormErrorControl.password.errors?.required">
              <sub>Password is required</sub>
            </ion-text>
          </ion-list>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="codeSent && codeSentTo.length > 0">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <ion-label>Confirmation link is sent to {{codeSentTo}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="codeSent" class="ion-justify-content-center">
      <ion-col size-md="4">
<!--        <form [formGroup]="confirmForm" (ngSubmit)="confirm()" novalidate>-->
<!--          <ion-list lines="full" class="ion-no-margin ion-no-padding">-->
<!--            <ion-item>-->
<!--              <ion-label position="floating">Email-->
<!--                <ion-text color="danger">*</ion-text>-->
<!--              </ion-label>-->
<!--              <ion-input type="email" formControlName="email"></ion-input>-->
<!--            </ion-item>-->
<!--            <ion-text color="danger" *ngIf="isSubmitted && confirmFormErrorControl.email.errors?.required">-->
<!--              <sub>Email is required</sub>-->
<!--            </ion-text>-->
<!--            <ion-item>-->
<!--              <ion-label position="floating">Code-->
<!--                <ion-text color="danger">*</ion-text>-->
<!--              </ion-label>-->
<!--              <ion-input type="number" formControlName="code"></ion-input>-->
<!--            </ion-item>-->
<!--          </ion-list>-->
<!--          <div class="ion-padding">-->
<!--            <ion-button expand="block" type="submit" class="ion-no-margin">Confirm account</ion-button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--    <ion-row class="ion-justify-content-center" *ngIf="this.validationError">-->
<!--      <ion-col size-md="4">-->
<!--        <div class="ion-text-center">-->
<!--          <ion-label color="danger">{{validationError}}</ion-label>-->
<!--        </div>-->
      </ion-col>
    </ion-row>
<!--    <ion-row *ngIf="!codeSent" class="ion-justify-content-center">-->
<!--      <ion-col size-md="4">-->
<!--        <div class="ion-text-center">-->
<!--          <p>Have a code?</p>-->
<!--          <ion-button size="small" fill="outline" (click)="this.codeSent = true;">Confirm</ion-button>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
    <ion-row *ngIf="codeSent" class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Did not get verification email?</p>
          <ion-button size="small" fill="outline" (click)="resendEmail()">Resend</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4">
        <div class="ion-text-center">
          <p>Have an account?</p>
          <ion-button expand="block" color="success" [routerLink]="['/auth']">Sign in</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
